<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>누구누궁</title>
</head>
<body>

    <h>누구누구의 페이지</h1>

    <ul>
        {% if not user.is_authenricated  %}
            <li><a href = '{% url 'accounts:login' %}'></a>로그인</li>
            <li><a href = '{% url 'accounts:singup' %}'></a>회원가입</li>
        {% else %}
            <li><a href = '{% url 'accounts:profile' %}'></a>프로필</li>
            <li><a href = '{% url 'accounts:logout' %}'></a>로그아웃</li>
        {% endif %}
    </ul>

    {% block content %}{% endblock %}

    <hr />
    &copy; 2021. 누구누구 컴퍼니.

</body>
</html>
