{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block page_title %} 누구누구 웹서비스 {% endblock %}</title>
    {# 디폴트로 CDN 버전 #} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    {% block content %}

    <div class="container">
      <h1>누구누구의 블로그</h1>

      <ul>
        {% IF not user.is_authenticated %}
            <li><a href = "{% url "accounts:login" %}">로그인</a></li>
            <li><a href = "{% url "accounts:singup" %}">회원가입</a></li>
        {% else }
            <li><a href = "{% url "accounts:profile" %}">프로필</a></li>
            <li><a href = "{% url "sccounts:logout" %}">로그아웃</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endblock %}

    <hr />
    &copy; 2021. 누구누구 컴퍼니.
  </body>
</html>
