{% extends 'second/layout.html' %}
{% block content %}

    <h2>{{second_detail.tite}}</h2>

    <p>
        태그:
        {% for tag in tag_list %}
            <a href="{% url 'second:tag_detail' tag.name %}" class = "badge bg-success">
                {{tag.name}}
            </a>    
        {% endfor %}
    </p>

<!-- -------------------------------------------------------------------------------------- -->

    <img src = "{{ second_detail.photo.url}}" alt="{{second_detail.title}}" />
    {{ second_detail.content|linebreaks }}

    <h3>댓글</h3>

    <a href="{% url 'second:comment_new' second_detail.pk %}">댓글쓰기</a>
    
    <ul>
        {%for comment in comment_list %}
        <li>
            {{comment.message}}
            by {{comment.author_name}}
            at 
            <span tite = '{{comment.created_at}}' >
                {{comment.created_at|timesince}} 전
            </span>

            <a href="{% url 'second:comment_edit' second_detail.pk comments.pk %}">
                수정하기
            </a>
        </li>
        {% endfor %}
    </ul>

<!-- -------------------------------------------------------------------------------------- -->

    <hr />
    <a href="{% url 'second:second_list' %}">목록으로</a>

    <a href="{% url 'second:post_edit' second_detail.pk %}">
        댓글 수정하기
    </a>
{% endblock %}
