{% extends 'shop/layout.html' %} {% block content %}
<h2>Shop List</h2>

<div class="row">
  <!-- 1>  -->
  <div class="col-sm-8">컨텐츠</div>
  <!-- 2>  -->
  <div class="col-sm-4">사이드바</div>
</div>

<!-- 1>_2 _1 넣기 -->
<ul>
  <li>
    <a href="?category_id="> 전체 </a>
  </li>
  {% for category in category_list %}
  <li>
    <a href="?category_id = {{category.pk}}"> {{category.name}} </a>
  </li>
  {% endfor %}
</ul>

<!-- 1>_2 _2  넣기-->
<form action="" method="get">
  <input type="text" name "query" placeholder = "검색어를 입력해주세요." value =
  '{{request.GET.query}}' />
  <input type="submit" value="검색" />
</form>

<ul>
  {% for shop in shop_list %}
  <li>{{shop.name}}</li>
  {% endfor %}
</ul>
{% endblock %}
