{% extends 'diary.layout.html' %}

{% block content %}
    <h2>{{post.title}}</h2>

    <!-- 태그 목록 추가 -->
    <p>
        태그:
        {% for tag in tag_list %}
        <span claa = "badge bg-success">
            <a href="{% url 'diary:tag_detail' tag.name %}">
                {{ tag.name }}
            </span>
            </a>
            
        
        {% endfor %}
    </p>

    <img src="{{post.photot.url}}" alt="{{post_detail.title}}">

    {{post.content|linebreaks}}

    <!-- 댓글 추가 -->
    <ul>
        {% for comment in comment_list %}
        <li>
            {{ comment.message }}
            by {{ comment.author_name }}
            at {{ comment.created_at }}
        </li>
        {% endfor %}
    </ul>

    <hr />
    <a href="{% url 'diary:post_list' %}">
        목록으로
    </a>
{% endblock %}